@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Pd_Kitchen5_Content {  
	padding-bottom: 50px;
	min-height: 500px;
	font-family: 'GmarketSansMedium';
}

.Pd_Kitchen5_Content .Pd_Kitchen5_body {
	overflow: visible;
	width: 1700px;
	position: relative;
	top: 170px;
  margin: 0 auto;
}

.Pd_Kitchen5_Content #detail {
	position: relative;
	max-width: 1920px;
	margin: 45px auto 0;
}

.Pd_Kitchen5_Content #detail .detail_top_wrap {
	display: flex;
}

.Pd_Kitchen5_Content #detail .detail_top_wrap > .prdimg {
	display: inline-block;
	width: calc(56.6% + 113px);
	max-width: 850px;
	padding: 0 113px 0 0;
}

.Pd_Kitchen5_Content #detail .prdimg {
	position: relative;
}

.Pd_Kitchen5_Content #detail .addimg {
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.Pd_Kitchen5_Content #detail .add_img > div {
	margin-bottom: 10px;
}

.Pd_Kitchen5_Content .carousel_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pd_Kitchen5_Content #detail .add_img img {
	width: 100%;
	height: auto;
}

.Pd_Kitchen5_Content .arrow {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.Pd_Kitchen5_Content .arrow.left {
  margin-right: 10px;
}

.Pd_Kitchen5_Content .arrow.right {
  margin-left: 10px;
}

.Pd_Kitchen5_Content img {
	vertical-align: top;
}

.Pd_Kitchen5_Content #detail .add_img > div {
	margin-bottom: 10px;
}

.Pd_Kitchen5_Content #detail .detail_info {
	margin-bottom: 30px;
	position: relative;
	top: 50px;
}

.Pd_Kitchen5_Content #detail .detail_info * {
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	line-height: inherit;
}
 
.Pd_Kitchen5_Content #detail .detail_info img, #detail .common_info img {
	width: 100%;
	height: auto;
	font-size: 0;
	line-height: 0;
}

.Pd_Kitchen5_Content #detail .related_wrap {
	width: 100%;
	padding: 40px 0 0;
	margin-left: 40px;
	overflow: hidden;
}

.Pd_Kitchen5_Content #detail .title_related {
	padding: 0 0 26px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.Pd_Kitchen5_Content #detail .title_detail {
	color: #1a1a1a;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.Pd_Kitchen5_Content .tal {
	text-align: left !important;
}

.Pd_Kitchen5_Content .prd_basic { 
	display: inline-block;
	width: 100%;
	font-size: 0;
	text-align: left;
}

.Pd_Kitchen5_Content .prd_basic .box {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.Pd_Kitchen5_Content .prd_basic .box .img {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.Pd_Kitchen5_Content #detail .prdimg {
	position: relative;
}

.Pd_Kitchen5_Content .prd_basic .box .img .prdimg {
	transition: all .3s ease;
}

.Pd_Kitchen5_Content a, a:hover, a:active, a:focus {
	text-decoration: none;
	cursor: pointer;
}

.Pd_Kitchen5_Content .prd_basic .box .img .prdimg img {
	width: 100%;
	height: auto;
}

.Pd_Kitchen5_Content .prd_basic .box .info {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.Pd_Kitchen5_Content .prd_basic .box .name {
	padding-top: 0;
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.Pd_Kitchen5_Content .prd_basic .box .name > a {
	color: #000;
	font-size: 15px;
	font-weight: 400;
}

.Pd_Kitchen5_Content .prd_basic .box .price {
	padding-top: 7px;
	font-size: 0;
	text-align: center;
}

.Pd_Kitchen5_Content .prd_basic .box .price .consumerY {
	display: none;
}

.Pd_Kitchen5_Content .prd_basic .box .price .consumer {
	text-decoration: line-through;
	display: none;
}

.Pd_Kitchen5_Content .prd_basic .box .price p {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 17px;
	font-weight: 400;
	word-break: break-all;
	word-wrap: break-word;
}

.Pd_Kitchen5_Content .prd_basic .box .price .sellY {
	position: relative;
	display: inline-block;
}

.Pd_Kitchen5_Content .prd_basic .box .price .discount_section {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
}

.Pd_Kitchen5_Content .prd_basic .box .price .per {
	color: #ff0000;
	font-size: 17px;
}

.Pd_Kitchen5_Content .prd_basic .box .price .discountY {
	display: inline-block;
}

.Pd_Kitchen5_Content .prd_basic .box .price .discount {
	display: none;
}

.Pd_Kitchen5_Content .box_btn {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.Pd_Kitchen5_Content .box_btn.w141 > * {
	width: 141px;
}

.Pd_Kitchen5_Content .box_btn > * {
	display: inline-block;
	margin: 0;
	padding: 11px 12px;
	border: 1px solid #676767;
	outline: none;
	background: #666;
	color: #fff !important;
	font-size: 12px;
	font-family: 'LibreBodoni', 'Pretendard', sans-serif;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 1.4;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	transition: all .2s ease;
}

.Pd_Kitchen5_Content #detail .info_scroll {
	position: relative;
	left: 100px;
	max-width: 450px;
}

.Pd_Kitchen5_Content #detail .info_scroll form {
	display: block;
	position: sticky;
	position: -webkit-sticky;
	top: 90px;
	width: 450px;
	padding: 0 0 0 6px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > h3 {
	padding-top: 3px;
	color: #000;
	font-size: 18px;
	line-height: 18px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .summary {
	padding-top: 9px;
	color: #828282;
	font-size: 15px;
	font-weight: 400;
	word-break: break-all;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price {
	display: flex;
	padding-top: 10px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .top_price {
	display: flex;
	justify-content: start;
	align-items: center;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .consumerY {
	display: none;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .consumer {
	color: #888;
	text-decoration: line-through;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price span, #detail .wrap_prd .info > .price span > strong {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .sellY, #detail .wrap_prd .info > .price .sellY * {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .sellY {
	position: relative;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .sellY strong {
	font-size: 14px;
	color: #8c8c8c;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .discountY {
	display: inline-block;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .discount {
	display: none;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .discountY strong {
	padding-left: 5px;
	font-size: 16px;
	font-weight: 400;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .price .per {
	padding: 0 7px;
	color: #ff0000;
	font-size: 16px;
	font-weight: 400;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .opt_list {
	padding-top: 12px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .opt_list .th {
	padding-bottom: 17px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .opt_list .td select {
	width: 100%;
	height: 28px;
	border-color: #b8b8b8;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/opt_select.png) no-repeat center right 13px #fff;
}

.Pd_Kitchen5_Content select {
	max-width: 100%;
	height: 40px;
	padding: 4px 6px;
	border: 1px solid #dcdcdc;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/select_down.png) no-repeat center right 13px #fff;
	color: #666;
	font: inherit;
	appearance: none;
	-webkit-appearance: none;
}

.Pd_Kitchen5_Content #detail .info .opt_list .th:not(:first-of-type) {
	padding-top: 19px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .opt_list .th {
	padding-bottom: 17px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .box_qty {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 25px;
}

.Pd_Kitchen5_Content .box_qty {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.Pd_Kitchen5_Content .hidden {
	visibility: hidden;
	overflow: hidden;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0;
	line-height: 0;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .box_qty .form_input {
	width: 40px;
	height: 34px;
	padding-right: 0;
	color: #000;
	font-size: 17px;
	font-weight: 400;
	border: none;
}

.Pd_Kitchen5_Content .box_qty .form_input {
	width: 59px;
	height: 34px;
	padding-right: 22px;
}

.Pd_Kitchen5_Content input[type=text], input[type=email], input[type=password] {
	vertical-align: top;
}

.Pd_Kitchen5_Content .form_input {
	height: 40px;
	padding: 4px 10px;
	border: 1px solid #dcdcdc;
	background: #fff;
	color: #666;
	font-family: 'LibreBodoni', 'Pretendard', sans-serif;
	font-size: 12px;
	transition: all .3s ease;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .box_qty .btn_ea {
	display: flex;
	justify-content: start;
	align-items: center;
	position: static;
	width: auto;
	height: 100%;
}

.Pd_Kitchen5_Content .box_qty .btn_ea {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 34px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .box_qty .btn_ea a.ea_up {
	margin-right: 15px;
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/det_plus.png) no-repeat top 9px center / 12px auto;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .box_qty .btn_ea a {
	display: block;
	width: 12px;
	height: 100%;
	color: #000;
	font-size: 21px;
	font-weight: 400;
	text-indent: -9999px;
}

.Pd_Kitchen5_Content .box_qty .btn_ea a.ea_up {
	background-image: url(https://www.rolarola.com/_skin/rolarola_250613/img/common/bullet_arrow_up.png);
}

.Pd_Kitchen5_Content .box_qty .btn_ea a {
	display: block;
	width: 24px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info .box_qty .btn_ea a.ea_down {
	background: url(https://www.rolarola.com/_skin/rolarola_250613/img/shop/det_minus.png) no-repeat top 9px center / 12px auto;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .list {
	width: 100%;
	margin-top: 20px;
}

.Pd_Kitchen5_Content table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .list > tbody > tr > th {
	padding: 6px 5px 6px 0;
	color: #000;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .list > tbody > tr > td {
	padding: 6px 0;
	color: #828282;
	font-size: 15px;
	text-align: left;
	vertical-align: middle;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .list > tbody > tr > td .box_info {
	display: inline-block;
	position: relative;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .list > tbody > tr > td .box_info .info {
	display: none;
	position: absolute;
	left: 20px;
	top: -8px;
	z-index: 10;
	width: 150px;
	padding: 10px 15px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background: #fff;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .multi_opt {
	margin-top: 7px;
}

ol, ul, li {
	list-style: none;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .multi_opt .opt_total {
	display: flex;
	justify-content: start;
	align-items: center;
	position: relative;
	padding: 23px 0;
	border: 1px solid #000;
	border-width: 1px 0;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .multi_opt .opt_total .title {
	padding-right: 4px;
	color: #000;
	font-size: 15px;
	letter-spacing: -0.05rem;
	line-height: 15px;
}

.Pd_Kitchen5_Content
#detail 
.wrap_prd 
.info > .multi_opt 
.opt_total strong, 
#detail 
.wrap_prd 
.info > .multi_opt 
.opt_total strong * {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .multi_opt .opt_total strong > span {
	padding: 0 4px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .btn {
	display: flex;
	justify-content: start;
	flex-direction: column;
	row-gap: 10px;
	margin-top: 31px;
	font-size: 0;
}

.Pd_Kitchen5_Content .box_btn.block {
	display: block;
}

.Pd_Kitchen5_Content .box_btn {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .btn .buy *, #detail .wrap_prd .info > .btn .cart * {
	display: block;
	width: 100%;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .btn .box_btn > * {
	padding: 0;
	background: #fff;
	border: 2px solid #888;
	color: #000 !important;
	font-size: 14px;
	font-weight: 400;
	line-height: 33px;
}

.Pd_Kitchen5_Content .box_btn.block > * {
	width: 100%;
}

.Pd_Kitchen5_Content .box_btn.large > * {
	padding: 12px 16px;
	font-size: 14px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .app_link {
	padding-top: 10px;
}

.Pd_Kitchen5_Content #detail .wrap_prd .info > .app_link img {
	width: 100%;
	height: auto;
}

.Pd_Kitchen5_Content #detail .wrap_info {
	clear: both;
	width: 100%;
	max-width: 1200px;
	margin: 100px auto 0;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail.tabcnt_detail0 {
	padding-top: 86px;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail.tabcnt_detail3 .title_detail {
	padding-bottom: 33px;
}

.Pd_Kitchen5_Content #detail .title_detail {
	color: #1a1a1a;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.Pd_Kitchen5_Content #detail .wrap_info .detail_info, #detail .wrap_info .common_info {
	word-break: break-all;
}

.Pd_Kitchen5_Content #detail .detail_info img, #detail .common_info img {
	width: 100%;
	height: auto;
	font-size: 0;
	line-height: 0;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.Pd_Kitchen5_Content .crema-hide.crema-applied {
	display: none !important;
}

.Pd_Kitchen5_Content .paging {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-size: 0;
	text-align: center;
}

.Pd_Kitchen5_Content .paging li {
	display: inline;
	padding: 0 10px;
	color: #9e9e9e;
	vertical-align: middle;
}

.Pd_Kitchen5_Content .paging li strong {
	display: inline-block;
	color: #000;
	font-size: 20px;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail.tabcnt_detail1 .title_detail {
	padding-bottom: 50px;
}

.Pd_Kitchen5_Content #detail .title_detail {
	color: #1a1a1a;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
} /** 여기까지가 상품리뷰 */

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail {
	padding-top: 50px;
}

.Pd_Kitchen5_Content #detail .wrap_info .tabcnt_detail.tabcnt_detail2 .title_detail {
	padding: 72px 0 0;
}

.Pd_Kitchen5_Content .form_input.block {
	width: 100% !important;
}

.Pd_Kitchen5_Content input[type=text], input[type=email], input[type=password] {
	vertical-align: top;
}

.Pd_Kitchen5_Content .form_input.block {
	width: 100% !important;
}

.Pd_Kitchen5_Content textarea.form_input {
	height: auto;
}

.Pd_Kitchen5_Content .form_input {
	height: 40px;
	padding: 4px 10px;
	border: 1px solid #dcdcdc;
	background: #fff;
	color: #666;
	font-family: 'LibreBodoni', 'Pretendard', sans-serif;
	font-size: 12px;
	transition: all .3s ease;
}

.Pd_Kitchen5_Content .box_btn.w150 > * {
	width: 150px;
}

.Pd_Kitchen5_Content .box_btn.large > * {
	padding: 12px 16px;
	font-size: 14px;
}

.Pd_Kitchen5_Content .empty {
	padding: 100px 0 !important;
	text-align: center;
}

.Pd_Kitchen5_Content #detail .detail_qnarev .btn .box_btn.right {
	margin-left: 12px;
}

.Pd_Kitchen5_Content .box_btn {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.Pd_Kitchen5_Content #detail_dimmed {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}