@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.best-products {
  width: 100%;
  font-family: 'GmarketSansMedium';
  padding: 60px 0 100px;
  box-sizing: border-box;
}

.main_best {
  font-family: 'GmarketSansMedium';
}

.best-products .main_best {
  padding: 190px 60px 0;
  position: relative;
  top: 220px;
}

.best-products .main_best .title_section {
  padding-bottom: 113px;
}

.best-products .tac {
  text-align: center !important;
}

.best-products .title_section > h2 {
  color: #000;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  top: 70px;
  font-family: 'GmarketSansMedium';
}

.best-products .prd_basic.col3 {
  display: grid;
  gap: 60px 0px;
  justify-content: center;
  height: 600px;
  padding: 0 20px;
  position: relative;
  left: 20px;
}

.best-products .prd_basic.col3 > li {
  width: 100%;
}

/** 상품 항목 박스 */
.best-products .prd_basic.col3 .box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 10px;
  height: 700px;
  background-color: #fff;
}

/* 상품 이미지 */
.prdimg img {
  width: 450px;
  height: auto;
  object-fit: cover;
}

.best-products .prd_basic .box .name > a {
  color: black;
  font-size: 22px; 
  position: relative;
  left: -30px;
  font-family: 'GmarketSansMedium';
} 

.best-products .info .name {
  font-weight: bold;
  margin-top: 22px;
  text-align: center;
  font-size: 20px;
  width: 600px;
  position: relative;
}

.best-products .prd_basic > li {
  display: inline-block;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: top;
}

.best-products .prd_basic .box .price {
  position: relative;
  top: -60px;
}

.best-products .prd_basic .box .price .sellY {
  font-family: 'GmarketSansMedium';
  position: relative;
  display: inline-block;
  margin-top: 50px;
  right: 50px;
}

.best-products .prd_basic .box .price .sellY span { 
  font-family: 'GmarketSansMedium';
}

.best-products .prd_basic .box .price .discount_section {
  display: flex;
  align-items: center;
  position: relative;
  top: -7px;
  justify-content: center;
  column-gap: 10px;
  width: 400px;
  left: -10px;
  margin-left: 100px;
}

.best-products .prd_basic .discount_section .per {
  text-align: center;
  padding-left: 260px;
  font-family: 'GmarketSansMedium';
}

.best-products .prd_basic .discount {
  text-align: center;
  position: relative;
  font-family: 'GmarketSansMedium';
}

.ol, ul, li {
  list-style: none;
}