.loginOK_Wrap .newProducts {
  position: relative;
  top: 100px;
  right: 120px;
}

.loginOK_Wrap .main_Banner2 {
  margin: 0 auto;
  position: relative;
  top: 300px;
}

.loginOK_Wrap .bestProducts {
  position: relative;
  top: 100px;
}

.loginOK_Wrap .main_Bottom {
  position: relative;
  top: 170px;
}

.loginOK_Wrap .main_Bottom {
  position: relative;
  top: 300px;
  margin-top: 220px;
  margin-bottom: -220px;
}

.loginOK_Wrap .Footer {
  position: relative;
  top: -120px;
}