.loginAdmin_wrapper .popular_wrap {
  position: relative;
  left: 5px;
}

.loginAdmin_wrapper .shop_event_wrap {
  position: relative;
  left: 30px;
}

.loginAdmin_wrapper .loginAdmin_Footer {
  position: relative;
  top: -10px;
}