@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.newProducts_wrap {
  font-family: 'GmarketSansMedium';
  width: 1920px;
}

.main_new {
  margin-top: 170px;
}

.title_section.tac {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  left: 100px;
}

.main_new h2 {
  font-size: 33px;
  text-align: center;
  font-family: 'GmarketSansMedium';
  color: black;
  position: relative;
  top: -30px;
}

/* 각 슬라이드(상품 카드)의 기본 스타일 */
.main_new_slide .swiper-slide {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto !important;   /* swiper-slide 너비를 콘텐츠에 맞게 자동으로 */
}

.newProducts_wrap .main_new .prd_basic {
  position: relative;
  left: 120px;
}

.main_new .prd_basic .box {
  width: 600px;
  max-width: 800px;
  min-height: 500px;
  margin: 0 auto;
}

.main_new .prd_basic .box .name > a {
  color: black;
  font-size: 22px; 
  position: relative;
  left: -30px;
  font-family: 'GmarketSansMedium';
} 

.main_new .prd_basic .info {
  text-align: center;
  font-size: 22px;
  font-family: 'GmarketSansMedium';
}

.main_new .prd_basic .discount_section .per {
  text-align: center;
  padding-left: 220px;
  font-family: 'GmarketSansMedium';
}

.main_new .prd_basic .discount_section .discount_discountY {
  margin-left: 10px;
  position: relative;
  right: 185px;
  font-family: 'GmarketSansMedium';
} 

.prdimg img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.soldout {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-family: 'GmarketSansMedium';
}

.main_new .info .name {
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  right: 10px;
  font-size: 22px;
  width: 600px;
  font-family: 'GmarketSansMedium';
}

.main_new .price {
  margin-top: 10px;
  margin-left: 50px;
  font-family: 'GmarketSansMedium';
}

.newProducts_wrap .main_new .sell_sellY {
  font-family: 'GmarketSansMedium';
}

.newProducts_wrap .main_new .sell_sellY span {
  font-family: 'GmarketSansMedium';
}

.main_new .prd_basic .box .price .discount_section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 400px;
  margin-left: 100px;
  font-family: 'GmarketSansMedium';
}

.main_new .per {
  color: red;
  position: relative;
  right: 40px;
}

.main_new .discount_discountY {
  position: relative;
  right: 30px;
  font-family: 'GmarketSansMedium';
}