@media (max-width: 1024px) {
  .Product_List_wrap .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 태블릿은 2열 */
  }
}

@media (max-width: 600px) {
  .Product_List_wrap .grid-container {
    grid-template-columns: 1fr; /* 모바일은 1열 */
  }
}

.Product_List_wrap .product-list {
  text-align: center;
  padding: 20px;
  width: 1400px;
}

.Product_List_wrap .product-list h1 {
  font-weight: bold;
  font-size: 70px;
  position: relative;
  top: 100px;
  left: 140px;
}

.Product_List_wrap .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 구성 */
  gap: 20px; /* 열과 행 사이 간격 */
  padding: 20px;
}