.wrapper_pdItem .product-item {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
  width: 370px;
  position: relative;
  left: 350px;
  top: 170px;
}

.wrapper_pdItem .product-item:hover {
  transform: translateY(-5px);
}

.wrapper_pdItem .product-item img {
  width: 380px;
  height: 390px;
  object-fit: cover;
  border-radius: 30px;
}

.wrapper_pdItem .product-item h2 {
  width: 500px;
  position: relative;
  right: 100px;
  top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.wrapper_pdItem .product-item p {
  font-size: 17px;
  min-height: 70px; /* ✅ 설명 최소 높이 지정 */
  margin-top: 10px;
  width: 280px;
}

.wrapper_pdItem .product_details {
  display: flex;    /* 가로 정렬 */ 
  justify-content: space-between;     /* 좌우 정렬 */ 
  align-items: center;      /* 세로 중앙 정렬 */ 
  margin-top: 20px;
  padding: 0 10px;
}

/** '상세 정보' 버튼 스타일 */ 
.wrapper_pdItem .button-info {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: #eee;
  cursor: pointer;
  margin-left: -10px;
}

.wrapper_pdItem .price {
  font-weight: bold;
  color: #2a9d8f;
  font-size: 16px;
  margin-top: 8px;
  margin-right: 45px;
}