.mylevel_wrapper .mylevel_title {
  margin-top: 15%; 
  height: 150px;
  right: 600px;
  position: relative;
}

.mylevel_wrapper .display-3 {
  margin-left: -6%;
	color: black;
	position: relative;
	font-weight: bold;
	font-size: 55px;
	display: block;
  text-shadow: 1px 1px 5px #bdbdbd;
}

/** 등급표 아이콘 */ 
.flow_chart_icon {
  position: relative;
	width: 100px; 
	right: 200px;
	float: right;
	height: 100px;  
	bottom: 220px;
}

.flow_chart_icon img {
  margin: 0 auto;
  position: relative;
}

.mylevel_wrapper .side_menubar {
  float: left;
	width: 250px;
	position: relative;
	left: 1%;
	top: 3%;
	min-height: 480px;
	margin-bottom: 10%;
	display: block;
}

.mylevel_wrapper .side_menubar li {
  padding: 0;
	display: block;
	position: relative; 
	height: 60px; 
	width: auto;
  top: 70px;
  left: 35px;
}

.mylevel_wrapper .user_modify {
  border-radius: 10px; 
	height: 60px;
	position: relative; 
	left: -22%;
	width: 250px;
	border: 1px solid gray; 
}

.mylevel_wrapper .user_modify a {
  padding-top: 3%;
	top: 23%; 
	position: relative; 
	left: 3%;
	font-size: 17px;
	font-weight: bold;
}

.mylevel_wrapper .mylevel {
  border-radius: 10px; 
	height: 60px;
	position: relative; 
	left: -22%;
	width: 250px;
	background-color: #eee;
	border: 1px solid gray; 
}

.mylevel_wrapper .mylevel a {
  padding-top: 3%;
	top: 23%; 
	position: relative; 
	left: 3%;
	font-size: 17px;
	font-weight: bold;
}

.mylevel_wrapper .coupon_list {
  border-radius: 10px; 
	height: 60px;
	position: relative; 
	left: -22%; 
	width: 250px;
	border: 1px solid gray; 
}

.mylevel_wrapper .coupon_list a {
  padding-top: 3%;
	top: 23%; 
	position: relative; 
	left: 3%;
	font-size: 17px;
	font-weight: bold;
}

.mylevel_wrapper .review_list {
  border-radius: 10px; 
	height: 60px;
	position: relative; 
	left: -22%; 
	width: 250px;
	border: 1px solid gray; 
}

.mylevel_wrapper .review_list a {
  padding-top: 3%;
	top: 23%; 
	position: relative; 
	left: 3%;
	font-size: 17px;
	font-weight: bold;
}

.mylevel_wrapper .orderlist {
  border-radius: 10px; 
	height: 60px;
	position: relative; 
	left: -22%; 
	width: 250px;
	border: 1px solid gray; 
}

.mylevel_wrapper .orderlist a {
  padding-top: 3%;
	top: 23%; 
	position: relative; 
	left: 3%;
	font-size: 17px;
	font-weight: bold;
}

.mylevel_wrapper .product_review {
  border-radius: 10px; 
	height: 60px;
	position: relative; 
	left: -22%;
	width: 250px;
	border: 1px solid gray; 
}

.mylevel_wrapper .product_review a {
  padding-top: 3%;
	top: 23%; 
	position: relative; 
	left: 3%;
	font-size: 17px;
	font-weight: bold;
}

.mylevel_img {
  margin: 0 auto; 
	width: 600px; 
	min-height: 550px; 
	display: block;
	position: relative; 
}

.mylevel_img img {
  margin: 0 auto; 
	display: block; 
	position: relative;
	bottom: 10%;
	padding-top: 17%;
	width: 400px;
	min-height: 350px;
}

.mylevel_wrapper .level_info {
  margin-top: 5%;
}

.mylevel_wrapper .level_info h4 {
  text-align: center; 
	font-size: 22px;
	font-weight: bold;
}