@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mpOrder_Change_Content {
  min-height: 500px; 
  margin-top: 170px; 
}

.mpOrder_Change_Content .mpOrder_Change_body {
  overflow: hidden; 
  width: 1700px; 
  margin: 0 auto; 
  font-family: 'GmarketSansMedium';
}

h2.subtitle {
  padding: 64px 0 60px;
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer;
}

ol, ul, li {
  list-style: none;
}

.mpOrder_Change_top {
  text-align: center; 
}

.mpOrder_Change_top .customer_section .name strong, 
.mypage_top .customer_section .name {
  color: #000;
  font-size: 27px;
}

.mpOrder_Change_top .customer_section .my_edit {
  color: #828282;
  font-size: 22px;
}

.mpOrder_Change_top .point_section {
  padding-top: 25px; 
  font-size: 0; 
}

.mpOrder_Change_top .point_section > li {
  display: inline-block;
  padding: 0 18px;
  vertical-align: top;
}

.mpOrder_Change_top .point_section > li > a, 
.mpOrders_top .point_section > li > a strong {
  color: #000;
  font-size: 22px;
}

.mpOrder_Change_top .mpOrder_Change_tab {
  padding: 104px 0 144px; 
  font-size: 0;
}

.mpOrder_Change_top .mpOrder_Change_tab > li {
  display: inline-block; 
  padding: 0 34px; 
  vertical-align: top; 
}

.mpOrder_Change_top .mpOrder_Change_tab > li .tab_title  {
  display: block; 
  color: #828282;
  font-size: 17px;
}

.mpOrder_Change_top .mpOrder_Change_tab > li .tab_sub {
  display: block; 
  color: #000; 
  font-size: 14px; 
  font-weight: 700; 
}

.mpOrder_Change_wrapper #counsel_write {
  width: 100%;
  margin: 20px 0;
  background: #f5f5f5;
  text-align: center;
}

.mpOrder_Change_wrapper #counsel_write > form {
  display: inline-block;
  width: 72%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: left;
}

.mpOrder_Change_wrapper input[type="hidden" i] {
  display: none !important;
}

.mpOrder_Change_wrapper input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  margin-right: 10px;
}

.mpOrder_Change_wrapper input[type="hidden" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

.mpOrder_Change_wrapper .hidden {
  visibility: hidden;
  overflow: hidden;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
}

.mpOrder_Change_wrapper #counsel_write fieldset > div {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.mpOrder_Change_wrapper #counsel_write fieldset > div > label {
  display: none;
}

.mpOrder_Change_wrapper .form_input.block {
  width: 100% !important;
}

.mpOrder_Change_wrapper input[type=text], input[type=email], input[type=password] {
  vertical-align: top;
}

.mpOrder_Change_wrapper .form_input {
  height: 40px;
  padding: 4px 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  color: #666;
  font-family: 'LibreBodoni', 'Pretendard', sans-serif;
  font-size: 12px;
  transition: all .3s ease;
}

.mpOrder_Change_wrapper #counsel_write fieldset > div.content {
  background-color: #fff;
}

.mpOrder_Change_wrapper #counsel_write fieldset > div > label {
  display: none;
}

.mpOrder_Change_wrapper #counsel_write fieldset textarea {
  height: 250px;
}

.mpOrder_Change_wrapper .form_input.block {
  width: 100% !important;
}
