@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mpOrders_Content {
  min-height: 500px; 
  margin-top: 170px;
}

.mpOrders_Content .mpOrders_body {
  overflow: hidden;
  width: 1700px;
  margin: 0 auto;
  font-family: 'GmarketSansMedium';
}

h2.subtitle {
  padding: 64px 0 60px;
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
}

.mpOrders_top {
  text-align: center; 
}

.mpOrders_top .customer_section .name strong, .mypage_top .customer_section .name {
  color: #000;
  font-size: 27px;
}

.mpOrders_top .customer_section .my_edit {
  color: #828282;
  font-size: 22px;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer;
}

.mpOrders_top .point_section {
  padding-top: 25px;
  font-size: 0;
}

ol, ul, li {
  list-style: none;
}

.mpOrders_top .point_section > li {
  display: inline-block;
  padding: 0 18px;
  vertical-align: top;
}

.mpOrders_top .point_section > li > a, .mpOrders_top .point_section > li > a strong {
  color: #000;
  font-size: 22px;
}

.mpOrders_top .mpOrders_tab {
  padding: 104px 0 144px;
  font-size: 0;
}

.mpOrders_top .mpOrders_tab > li {
  display: inline-block;
  padding: 0 34px;
  vertical-align: top;
}

.mpOrders_top .mpOrders_tab > li .tab_title {
  display: block;
  color: #828282;
  font-size: 17px;
}

.mpOrders_top .mpOrders_tab > li .tab_sub {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.mpOrders_wrapper h3.title.first {
  padding-top: 0;
}

.mpOrders_wrapper h3.title {
  padding: 30px 0 20px;
}

.mpOrders_wrapper .title_count {
  position: relative;
  top: -36px;
  height: 0;
  color: #999;
  font-size: 11px;
}

.mpOrders_wrapper .tar {
  text-align: right !important;
}

.mpOrders_wrapper #order_list > .search {
  padding: 30px;
  background-color: #f8f8f8;
  text-align: center;
}

.mpOrders_wrapper #order_list > .search > .date {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.mpOrders_wrapper #order_list > .search > .date > span {
  margin-left: -1px;
}

.mpOrders_wrapper .box_btn {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.mpOrders_wrapper #order_list > .search > .date > span > * {
  border-color: #dcdcdc;
}

.mpOrders_wrapper .box_btn.gray * {
  border-color: #f5f5f5;
  background: #f5f5f5;
  color: #666 !important;
}

.mpOrders_wrapper .box_btn > * {
  display: inline-block;
  margin: 0;
  padding: 11px 12px;
  border: 1px solid #676767;
  outline: none;
  background: #666;
  color: #fff !important;
  font-size: 12px;
  font-family: 'LibreBodoni', 'Pretendard', sans-serif;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .2s ease;
}

.mpOrders_wrapper #order_list > .search > .date > span {
  margin-left: -1px;
}

.mpOrders_wrapper #order_list > .search > .date_input {
  display: inline-block;
  vertical-align: top;
  line-height: 34px;
}

.mpOrders_wrapper input[type=text], input[type=email], input[type=password] {
  vertical-align: top;
}

.mpOrders_wrapper .form_input {
  height: 40px;
  padding: 4px 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  color: #666;
  font-family: 'LibreBodoni', 'Pretendard', sans-serif;
  font-size: 12px;
  transition: all .3s ease;
}

.mpOrders_wrapper .tbl_col {
  table-layout: fixed;
  clear: both;
  width: 100%;
  border-collapse: collapse;
}

.mpOrders_wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mpOrders_wrapper .tbl_col caption {
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
}

.mpOrders_wrapper .hidden {
  visibility: hidden;
  overflow: hidden;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
}

.mpOrders_wrapper .tbl_col > thead > tr > th {
  padding: 15px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

.mpOrders_wrapper .tbl_col > tbody > tr > td {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  vertical-align: middle;
}

.mpOrders_wrapper .tbl_col > tbody > tr > td.order_number a {
  font-weight: bold;
  text-decoration: underline;
}

.mpOrders_wrapper .tbl_col > tbody > tr > td * {
  color: #666;
}

.mpOrders_wrapper .tbl_col > tbody > tr > td.tal {
  padding-left: 15px !important;
}

.mpOrders_wrapper .box_btn.mt {
  margin-top: 5px;
}

.mpOrders_wrapper .box_btn.white * {
  border-color: #c3c3c3;
  background: #fff;
  color: #666 !important;
}

.mpOrders_wrapper .box_btn.small > * {
  padding: 4px 8px;
}
