@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mpCancel_Refund_Content {
  min-height: 500px; 
  margin-top: 170px; 
}

.mpCancel_Refund_Content .mpCancel_Refund_body {
  overflow: hidden; 
  width: 1700px; 
  margin: 0 auto; 
  font-family: 'GmarketSansMedium';
}

h2.subtitle {
  padding: 64px 0 60px;
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer;
}

ol, ul, li {
  list-style: none;
}

.mpCancel_Refund_top {
  text-align: center;
}

.mpCancel_Refund_top .customer_section .name strong, 
.mypage_top .customer_section .name {
  color: #000;
  font-size: 27px;
}

.mpCancel_Refund_top .customer_section .my_edit {
  color: #828282;
  font-size: 22px;
}

.mpCancel_Refund_top .point_section {
  padding-top: 25px; 
  font-size: 0; 
}

.mpCancel_Refund_top .point_section > li {
  display: inline-block;
  padding: 0 18px;
  vertical-align: top;
}

.mpCancel_Refund_top .point_section > li > a, 
.mpOrders_top .point_section > li > a strong {
  color: #000;
  font-size: 22px;
}

.mpCancel_Refund_top .mpCancel_Refund_tab {
  padding: 104px 0 144px; 
  font-size: 0;
}

.mpCancel_Refund_top .mpCancel_Refund_tab > li {
  display: inline-block; 
  padding: 0 34px; 
  vertical-align: top; 
}

.mpCancel_Refund_top .mpCancel_Refund_tab > li .tab_title {
  display: block;
  color: #828282;
  font-size: 17px;
}

.mpCancel_Refund_top .mpCancel_Refund_tab > li .tab_sub {
  display: block; 
  color: #000; 
  font-size: 14px; 
  font-weight: 700;
}

.mpCancel_Refund_wrapper #counsel_write {
  width: 100%;
  margin: 20px 0;
  background: #f5f5f5;
  text-align: center;
}

.mpCancel_Refund_wrapper #counsel_write > form {
  display: inline-block;
  width: 72%;
  margin: 0 auto;
  padding: 40px 0;
  text-align: left;
}

.mpCancel_Refund_wrapper .hidden {
  visibility: hidden;
  overflow: hidden;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
}

.mpCancel_Refund_wrapper #counsel_write fieldset > div {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.mpCancel_Refund_wrapper #counsel_write fieldset > table {
  margin-bottom: -1px;
}

.mpCancel_Refund_wrapper .tbl_col.prd {
  border-bottom: 2px solid #e8e8e8;
}

.mpCancel_Refund_wrapper .tbl_col {
  table-layout: fixed;
  clear: both;
  width: 100%;
  border-collapse: collapse;
}

.mpCancel_Refund_wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mpCancel_Refund_wrapper .tbl_col caption {
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
}

.mpCancel_Refund_wrapper .tbl_col.prd > thead > tr > th {
  border-top: 0;
  border-bottom: 2px solid #e8e8e8;
  color: #000;
  font-size: 12px;
  letter-spacing: -0.03rem;
}

.mpCancel_Refund_wrapper .tbl_col > thead > tr > th {
  padding: 15px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

.mpCancel_Refund_wrapper .tbl_col.prd > tbody > tr > td {
  padding: 20px 0;
  border: none;
  color: #1a1a1a;
  font-size: 13px;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  vertical-align: middle;
}

.mpCancel_Refund_wrapper input[type=checkbox]:checked {
  background-image: url(https://www.rolarola.com/_skin/rolarola_250716/img/common/checkbox_on.png);
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td * {
  color: #666;
}

.mpCancel_Refund_wrapper input[type=checkbox] {
  width: 23px;
  height: 22px;
  margin: 0 6px 0 0;
  outline: 0;
  border-radius: 0;
  border: 0;
  background: no-repeat left center / 23px 22px;
  background-image: url(https://www.rolarola.com/_skin/rolarola_250716/img/common/checkbox.png);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.mpCancel_Refund_wrapper .tbl_col.prd > tbody > tr > td img {
  vertical-align: middle;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td.img img {
  width: 100px;
  height: auto;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td * {
  color: #666;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td.tal {
  padding-left: 15px !important;
}

.mpCancel_Refund_wrapper .tal {
  text-align: left !important;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td.img img {
  width: 100px;
  height: auto;
}

.mpCancel_Refund_wrapper .tbl_col > tbody > tr > td.tal {
  padding-left: 15px !important;
}

.mpCancel_Refund_wrapper .form_input.block {
  width: 100% !important;
}

.mpCancel_Refund_wrapper input[type=text], input[type=email], input[type=password] {
  vertical-align: top;
}

.mpCancel_Refund_wrapper .form_input {
  height: 40px;
  padding: 4px 10px;
  border: 1px solid #dcdcdc;
  background: #fff;
  color: #666;
  font-family: 'LibreBodoni', 'Pretendard', sans-serif;
  font-size: 12px;
  transition: all .3s ease;
}

.mpCancel_Refund_wrapper #counsel_write fieldset > div.content {
  background-color: #fff;
}

.mpCancel_Refund_wrapper #counsel_write fieldset textarea {
  height: 250px;
}


.mpCancel_Refund_wrapper .form_input.block {
  width: 100% !important;
}

.mpCancel_Refund_wrapper textarea.form_input {
  height: auto;
}

