.consultList_wrapper .consultList_title {
  margin-top: 7%;
	height: 150px;
}

.consultList_wrapper .display-3 {
	margin-left: -6%;
	color: black;
	position: relative;
	font-weight: bold;
	font-size: 55px;
	display: block;
  text-shadow: 1px 1px 5px #bdbdbd;
}

.consultList_wrapper .table {
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 11%;
	width: 1000px;
	height: 200px;
}

.consultList_wrapper .table thead {
	height: 50px;
}

.consultList_wrapper .table th {
  text-align: center;
}

.consultList_wrapper .table tbody td {
	height: 50px;
}

.consultList_wrapper .consultList_num2 {
  text-align: center; 
  position: relative; 
  padding-top: 2%; 
  font-size: 20px;
}

.consultList_wrapper .consultList_title2-2 {
  position: relative; 
  padding-top: 2%; 
  font-size: 20px;
}

.consultList_wrapper .consultList_date2 {
  text-align: center; 
  position: relative; 
  padding-top: 2%; 
  font-size: 20px;
}

.consultList_wrapper .consultList_button {
  margin: 0 auto; 
	float: right; 
	right: 24%; 
	top: 17%; 
	position: relative;
}