.customer_notice_wrapper .cn_title {
	margin-top: 8%;
	position: relative;
	right: 900px;
	height: 150px;
	margin-bottom: 60px;
}

.customer_notice_wrapper .display-3 {
	color: black;
	font-weight: bold;
	font-size: 55px;
	display: block;
	width: 800px;
	text-shadow: 1px 1px 5px #bdbdbd;
}

/** 우측 사이드 경로 */
.customer_notice_wrapper .side_path {
	float: right; 
	position: absolute; 
	right: 10%; 
	width: 300px; 
	height: 50px;
	margin-top: -8%;
}

.customer_notice_wrapper .home_icon {
	width: 40px; 
	height: 40px; 
	position: relative; 
	top: 5px;
	left: 7px;
}

.customer_notice_wrapper .home_icon img {
	width: 33px;
	margin-left: 3px;
}

.customer_notice_wrapper .sub_path {
	position: relative;
	display: block; 
	float: right;
	width: 240px; 
	bottom: 10%;
	height: 40px; 
	top: -35px; 
	padding-top: 4px;
	font-size: 17px;
	font-weight: bold;
}

/** 검색 기능 */ 
.customer_notice_wrapper .cont-search {
	float: right; 
	position: absolute; 
	right: 19%;
	width: 40%; 
	height: 70px;
	top: 35%;
}

.customer_notice_wrapper .search_bar {
	position: absolute; 
	left: 40%; 
	margin: 0 auto; 
	width: 300px; 
	height: 50px;
	bottom: 75%;
}

.customer_notice_wrapper .search_bar form {
	position: absolute; 
	left: 10%;
}

.customer_notice_wrapper .search_bar .search-submit {
	float: right;
	position: relative;
	right: -45px;
	top: -28px;
}

.customer_notice_wrapper .search-field {
	width: 270px;
}

/** 테이블 부분 */ 
.customer_notice_wrapper .table {
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 11%;
	width: 1000px;
	height: 200px;
	border: 1px solid #eeeeee;
}

.customer_notice_wrapper .table thead {
	height: 50px;
}

.customer_notice_wrapper .table th {
	background-color: #eeeeee; 
	text-align: center;
}

/** 버튼 부분 */ 
.customer_notice_wrapper .policy_button {
	margin: 0 auto; 
	float: right; 
	right: 24%; 
	top: 17%; 
	position: relative;
}