.customer_declare_wrapper .declare_title {
  margin-top: 10%;
	height: 150px;
  right: 600px;
  position: relative;
}

.customer_declare_wrapper .display-3 {
	margin-left: 5%;
	color: black;
	
	font-weight: bold;
	font-size: 55px;
  text-shadow: 1px 1px 5px #bdbdbd;
}

.customer_declare_wrapper .sub_content {
	margin: 0 auto;
	width: 1500px;
	position: relative;
	min-height: 40%;
	bottom: 5%;
}

.customer_declare_wrapper .sub_title {
	text-align: center;
	color: black;
}

.customer_declare_wrapper .sub_title h2 {
	font-size: 26px;
	font-weight: bold;
}

.customer_declare_wrapper .sub_title2 {
	text-align: center;
	color: grey;
	position: relative;
	margin-top: 1%;
}

.customer_declare_wrapper .sub_title2 h3 {
	font-size: 22px;
	font-weight: bold;
}

.customer_declare_wrapper .consumer_info {
	margin: 0;
	padding: 0;
	margin-top: 5%;
}

.customer_declare_wrapper .consumer_list1 {
	width: 1500px;
	min-height: 220px; 
	display: block;
}

.customer_declare_wrapper .consumer_list1 li {
	padding: 0; 
	position: relative;
	margin: 0 auto;
	float: left;
	display: block;
	padding-left: 25%;
	padding-top: 3%;
	text-align: center;
}

.customer_declare_wrapper .notice {
	position: relative;
	left: 10%;
}

.customer_declare_wrapper .notice_text {
	width: 80px;
	left: 16%;
	position: relative;
	margin-top: 2%;
	display: block;
	padding-top: 2%;
	height: 15px; 
	text-align: center;
}

.customer_declare_wrapper .policy_text {
	width: 80px; 
	left: 16%;
	position: relative;
	margin-top: 2%;
}

.customer_declare_wrapper .consumer_list2 {
	width: auto;
	min-height: 220px; 
}

.customer_declare_wrapper .consumer_list2 li {
	padding: 0;
	width: 30%; 
	position: relative;
	float: left;
	display: block;
}

.customer_declare_wrapper .consumer_list2 li:first-child {
	position: relative;
	float: left;
	margin: 0 auto;
	left: 17%;
	margin-top: 6%;
}

.customer_declare_wrapper .question img {
	width: 100px;
}

.customer_declare_wrapper .question_text {
	position: relative;
	left: 1%;
	width: 150px;
}

.customer_declare_wrapper .consumer_list2 li:nth-child(2) {
	position: relative;
	float: left; 
	margin: 0 auto; 
	left: 14%;
	margin-top: 6%;
}

.customer_declare_wrapper .consult img {
	width: 100px;
}

.customer_declare_wrapper .consult_text {
	position: relative;
	left: -2%;
	padding-top: 1%;
	width: 150px;
}

.customer_declare_wrapper .consumer_list2 li:nth-child(3) {
	position: relative;
	float: left;
	right: -10%;
	margin: 0 auto;
	margin-top: 6%;
}

.customer_declare_wrapper .claim_text {
	position: relative;
	left: 4%;
	width: 100px;
}

.customer_declare_wrapper .declare {
	margin: 0 auto; 
	width: 1200px; 
  height: 450px;
	position: relative; 
	background: #eee;
	min-height: 50%;
	top: 100px;
	margin-bottom: 300px;
}

.customer_declare_wrapper .declare h3 {
	display: block;
	font-weight: bold;
	padding-top: 40px;
	left: 4%;
	font-size: 27px;
	position: relative;
}

.customer_declare_wrapper .declare p {
	display: block; 
	font-size: 22px;
	position: relative; 
	left: 4%; 
  padding-top: 20px;
}

.customer_declare_wrapper .policy_button a {
	display: block;
	position: relative; 
	float: right; 
	margin-top: 10%; 
	left: -17%; 
	bottom: 17%; 
	margin-bottom: 20%;
	font-weight: bold; 
	margin: 0 auto;
}