@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrapper_ChangePw {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding-top: 200px; 
  padding-bottom: 40px; 
  font-family: "Nanum Gothic", arial, helvetica, sans-serif;
	background-repeat: no-repeat;
}

.wrapper_ChangePw .card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px;
  width: 25rem;
  height: 550px;
}

.wrapper_ChangePw #btn-Yes {
  border: none; 
	font-weight: 700;
  width: 300px;
  position: relative;
  left: 2px;
  top: 40px;
}

.wrapper_ChangePw .card-body {
  padding-bottom: 100px;
}

.wrapper_ChangePw .card-body h2 {
  font-size: 24px;
  position: relative;
  top: -17px;
  font-family: 'SDSamliphopangche_Outline';
}

.wrapper_ChangePw .form-signin {
  margin-top: 30px;
  position: relative;
  top: -2px;
}

.wrapper_findPw .form-signin .form-control {
	position: relative;
	height: auto; 
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: -17px;
  width: 350px;
}