.wrap_center {
  width: 100%;
}

.banner-container {
  margin: 0 auto;
  margin-top: 150px; 
  margin-bottom: 200px; 
  width: 1200px; 
  height: 500px; 
  overflow: hidden;
}

.img_wrap {
  width: 1000px; 
  height: 500px;
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
} 

.rolling_imgs {
  list-style: none;
  padding: 0;
}

.rolling_imgs li {
  position: relative;
  width: 1000px;
  height: 100%;
  overflow: hidden;
  /** transition: left 0.5s ease-in-out; */ 
}

.rolling_imgs li img {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
  opacity: 0.8;
  border-radius: 30px;
}

.rolling_imgs li.currentroll {
  left: 0; 
}

.rolling_imgs li.prevroll {
  left: -1000px;
}

.rolling_imgs.reverse li.prevroll {
  transition: none;
}

.rolling_imgs li.nextroll {
  left: 1000px; 
}

.rolling_imgs.reverse li.nextroll {
  transition: left .5s ease-in-out, right .5s ease-in-out;
}

/** 텍스트를 이미지 위에 중앙 배치 */ 
.rolling_imgs li .text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 가독성 향상 */
  z-index: 10; /* 이미지보다 앞에 위치 */
}


