.loginOK_Header {
  position: relative;
  left: -120px;
}

.loginOK_banner {
  position: relative;
  right: 150px;
}

.popular_wrap {
  position: relative;
  right: 150px;
}

.shop_event_wrap {
  position: relative;
  right: 120px;
}

.loginOK_footer {
  position: relative;
  top: -10px;
  right: 120px;
}