.cart_wrap .title {
  margin-top: 120px;
  height: 160px;
}

.cart_wrap .btn btn-secondary {
  font-size: 20px;
}

.cart_wrap .btn btn-warning {
  font-size: 20px;
}

.cart_wrap .row {
  font-size: 20px;
}

.cart_wrap .display-3 {
  margin-top: -50px;
  font-weight: 700;
  color: #000;
  position: relative;
  left: 10px;
}

.cart_wrap #progress {
  width: 1080px; 
  height: 250px;
  position: relative; 
  bottom: 6%;
  margin: 0 auto; 
  display: block; 
}

.cart_wrap #progress li {
  padding: 0; 
  width: 33.3%; 
  float: left; 
  height: 250px; 
  display: block; 
}

.cart_wrap #progress li:first-child {
/* 		border-right: 2px solid black; */
  margin: 0 auto; 
}

.cart_wrap .basket {
  margin: 0 auto; 
  overflow: hidden; 
  border-radius: 123px; 
  position: relative; 
  top: 3.5%; 
  width: 67.5%; 
  height: 93%; 
  background: rgb(159, 251, 244);
  border: 2px solid black; 
}

.cart_wrap .basket_icon img {
  margin: 0 auto; 
  width: 100px;
  position: relative;
  left: 29%; 
  padding-top: 10%;
}

.cart_wrap .first_continue h5 {
  text-align: center; 
  font-weight: bold;
  padding-top: 15%; 
  font-size: 22px;
}
  
.cart_wrap #progress li:nth-child(2) {
/* 		border-right: 2px solid black; */
  margin: 0 auto; 
}

.cart_wrap .order_card {
  margin: 0 auto; 
  overflow: hidden; 
  border-radius: 123px; 
  top: 3.5%; 
  width: 67.5%; 
  height: 93%; 
  position: relative; 
  border: 2px solid black; 
}

.cart_wrap .card_icon img {
  margin: 0 auto; 
  width: 100px;
  position: relative;
  left: 25%; 
  padding-top: 10%;
  width: 120px;
} 

.cart_wrap .second_continue h5 {
  text-align: center; 
  font-weight: bold;
  padding-top: 6%; 
  font-size: 22px;
}

.cart_wrap #progress li:nth-child(3) {
  margin: 0 auto; 
}

.cart_wrap .order_complete {
  margin: 0 auto; 
  overflow: hidden; 
  border-radius: 123px; 
  top: 3.5%; 
  width: 67.5%; 
  height: 93%; 
  position: relative; 
  background: white;
  border: 2px solid black; 
}

.cart_wrap .calendar_icon img {
  margin: 0 auto; 
  width: 120px;
  position: relative;
  left: 23%; 
  padding-top: 8%;
}

.cart_wrap .last_continue h5 {
  text-align: center; 
  font-weight: bold;
  padding-top: 6%; 
  font-size: 22px;
}

.cart_wrap .table {
  font-size: 20px;
  font-weight: 700;
  color: black;
  border-color: #eee;
  border-style: solid;
}

.cart_wrap .table table-hover {
  font-size: 20px;
  font-weight: 700;
}

.cart_wrap .btn-option {
  float: right;
  position: relative;
  left: 10px;
}

.cart_wrap .btn-option button {
  margin-right: 10px;
}

.cart_wrap .container2 {
  font-weight: 700;
  position: relative;
  margin: 0 auto;
  top: 30px;
  width: 1200px;
}

.cart_wrap .cart_table th {
  padding-left: 50px;
}

.cart_wrap .cart_table td {
  padding-left: 50px;
}