.container {
  margin-top: 120px;
  position: relative;
  height: 800px;
  bottom: 700px;
  border-style: none;
}

.container2 {
  margin-top: 120px;
  position: relative;
  height: 800px;
  bottom: 700px;
  border-style: none;
}

.title {
	margin-top: 150px;
	height: 160px;
}

.display-3 {
	left: -150px;
	margin-bottom: 30px;
  position: relative;
	font-weight: 700;
	color: black;
  top: -40px;
	text-shadow: 1px 1px 5px #bdbdbd;
}

#progress {
	width: 1080px;
	height: 250px;
	position: relative;
	bottom: 650px;
	margin: 0 auto;
	display: block;
}

#progress li {
	padding: 0;
	width: 33.3%;
	float: left;
	height: 250px;
	display: block;
}

#progress li:first-child {
	/* 		border-right: 2px solid black; */
	margin: 0 auto;
}

.basket2 {
	margin: 0 auto;
	overflow: hidden;
	border-radius: 123px;
	position: relative;
	top: 3.5%;
	width: 67.5%;
	height: 93%;
	border: 2px solid black;
}

.basket_icon img {
	margin: 0 auto;
	width: 100px;
	position: relative;
	left: 29%;
	padding-top: 10%;
}

.first_continue h5 {
	text-align: center;
	font-weight: bold;
	padding-top: 15%;
	font-size: 22px;
}

#progress li:nth-child(2) {
	/* 		border-right: 2px solid black; */
	margin: 0 auto;
}

.card {
	margin: 0 auto;
	overflow: hidden;
	border-radius: 123px;
	top: 3.5%;
	width: 67.5%;
	height: 93%;
	position: relative;
	border: 2px solid black;
	background: rgb(159, 251, 244);
}

.card_icon img {
	margin: 0 auto;
	width: 100px;
	position: relative;
	left: 25%;
	padding-top: 10%;
	width: 120px;
}

.second_continue h5 {
	text-align: center;
	font-weight: bold;
	padding-top: 6%;
	font-size: 22px;
}

#progress li:nth-child(3) {
	margin: 0 auto;
}

.order_complete {
	margin: 0 auto;
	overflow: hidden;
	border-radius: 123px;
	top: 3.5%;
	width: 67.5%;
	height: 93%;
	position: relative;
	background: white;
	border: 2px solid black;
}

.calendar_icon img {
	margin: 0 auto;
	width: 120px;
	position: relative;
	left: 23%;
	padding-top: 8%;
}

.last_continue h5 {
	text-align: center;
	font-weight: bold;
	padding-top: 6%;
	font-size: 22px;
}

.container col-8 alert alert-info {
	width: 450px;
}

.container .row {
  font-size: 20px;
  right: -60px;
  width: 900px;
  height: 500px;
  border-style: none;
  position: relative;
  background-color: #d1ecf1;
}

.container .table {
  font-size: 20px;
  font-weight: 700;
  color: black;
  border-style: none;
}

.text-center {
  margin-top: 80px;
  position: relative;
  top: -15px;
  margin-right: -10px;
  width: 1500px;
}

.text-center h1 {
  text-align: center;
  position: relative;
  right: 250px;
}

.order_button {
	position: relative;
	float: right;
	bottom: -10%;
	margin-top: 5%;
}