.container4 {
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: 700;
}

.container5 {
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: 700;
}

.container6 {
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: 700;
}


.container7 {
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: 700;
}

.container4 .display-3 {
  margin-top: 10%;
  font-weight: 700;
  margin-left: 360px;
  position: relative;
}

.thanksCustomer_wrap #progress {
  width: 1080px;
  height: 250px;
  position: relative;
  bottom: 6%;
  top: 1.5%;
  margin: 0 auto;
  display: block;
}

.thanksCustomer_wrap #progress li {
  padding: 0;
  width: 33.3%;
  float: left;
  height: 250px;
  display: block;
}

.thanksCustomer_wrap #progress li:first-child {
  margin: 0 auto;
}

.thanksCustomer_wrap .basket {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 123px;
  position: relative;
  top: 3.5%;
  width: 65%;
  height: 90.5%;
  background-color: white;
  border: 2px solid black;
}

.thanksCustomer_wrap .basket img {
  margin: 0 auto;
  width: 100px;
  position: relative;
  left: 29%;
  padding-top: 10%;
}

.thanksCustomer_wrap .first_continue h5 {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: -110px;
  font-size: 22px;
}

.thanksCustomer_wrap #progress li:nth-child(2) {
  margin: 0 auto;
}

.thanksCustomer_wrap .card {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 123px;
  top: 3.5%;
  width: 65%;
  height: 90.5%;
  position: relative;
  background-color: white;
  border: 2px solid black;
}

.thanksCustomer_wrap .card_icon img {
  margin: 0 auto;
  width: 100px;
  position: relative;
  left: 25%;
  padding-top: 10%;
  width: 120px;
}

.thanksCustomer_wrap .second_continue h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 6%;
  font-size: 22px;
}

.thanksCustomer_wrap #progress li:nth-child(3) {
  margin: 0 auto;
}

.thanksCustomer_wrap .order_complete {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 123px;
  top: 3.5%;
  width: 65%;
  height: 90.5%;
  position: relative;
  background: white;
  border: 2px solid black;
  background: rgb(159, 251, 244);
}

.thanksCustomer_wrap .calendar_icon img {
  margin: 0 auto;
  width: 120px;
  position: relative;
  left: 23%;
  padding-top: 8%;
}

.last_continue h5 {
  text-align: center;
  font-weight: bold;
  padding-top: 6%;
  font-size: 22px;
}

/** 인사말 부분 */ 
.container5 h2 {
  width: 1000px;
  margin: 0 auto;
}

/** 주문 정보 */ 
.container6 {
  margin-left: 340px;
}

/** 버튼 부분 */ 
.container7 button {
  float: right;
  margin-bottom: 30px;
  margin-right: 330px;
}