@charset "UTF-8";
.bd-placeholder-img {
      font-size: 1.125rem;

      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

@media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
}

/** 폰트 지정 */
@font-face {
  src: url("../fonts/BMJUA_otf.otf");
  font-family: Jua;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/** 로고 색상 결정 요소 */
a:visited,
a:hover,
a:focus,
a:active {
      color:  rgb(53, 53, 53);
}

.logo {
  width: 100%; 
  text-align: center;
  margin-top: 20px;
}

.logo a {
  font-family: 'SDSamliphopangche_Outline';
  font-size: 40px; /* 원하는 크기로 설정 */
  color: black; /* 검은색 텍스트 */
  text-decoration: none; /* 밑줄 제거 */
  position: relative;
  bottom: 600px;
  top: -340px;
  left: 100%;
}

.login {
    position: relative;
    margin: 0 auto;
    margin-right: 1500px;
    top: 420px;
    border: 5px solid #eee;
    width: 600px;
    height: 800px;
    padding-bottom: 50px;
}

#register {
  text-align: center;
  font-family: 'S-CoreDream-7ExtraBold';
  font-size: 40px;
  color: rgb(53, 53, 53);
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  top: 70px;
}

.user-only {
  font-weight: bold !important;
  top: 10px;
  position: relative;
}

form div label, 
form div input {
  display: block;   /** 각 요소를 블록 요소로 설정 */ 
}

.form-group {
  margin-bottom: -17px;  /** 각 입력란 사이 여백 */ 
  width: 300px;
  position: relative;
  top: 50px;
  padding-bottom: 10px;
}

.form-control {
  padding: 10px;    /** 내부 여백 */ 
  border-radius: 5px;   /** 둥근 모서리 */ 
}

.gender-group {
  display: flex;
  gap: 80px;    /** 항목 간의 간격 */
  align-items: center;    /** 수직 가운데 정렬 */ 
  position: relative;
  top: -17px;
}

.gender-group label {
  display: inline-flex;   /** inline-flex로 변경하여 내용이 가로로 정렬되도록 설정 */
  align-items: center;    /** 체크박스와 텍스트가 수직으로 정렬되도록 설정 */
  font-weight: normal;
}

form button {
  position: relative;
  top: 70px;
}

.button_wrap {
  width: 400px;
  display: inline-block;
  position: relative;
  top: 45px;
  text-align: center;
}

.button_wrap button {
  width: 300px;
  margin-bottom: 5px;
}

.wrapper_register {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}